@model Inventory.Models.ReceiptReportMem7
@{
    ViewBag.Title = "ViewMem7";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewMem7</h2>
<table  border="1" height="300" width="600">
    <caption> فورمه م ۷ - راپور رسیدات</caption>
    <tr>
        <td colspan="4"> نمبر راپور</td>
        <td colspan="8">اداره : وزارت امور مهاجرین وعودت کننده گان</td>
       
    </tr>
    <tr>
        <td colspan="4">تاریخ</td>
        <td colspan="8">محل تسلیمی</td>
        
    </tr>
    <tr>
        <td colspan="4"> نمبر سند فرمایش بل </td>
        <td colspan="8">اخذ گردید از قرار دادی</td>
        
    </tr>
    <tr>
        <td colspan="12"> &nbsp;</td>
        
    </tr>
    <tr>
        <td align="center">مقدار</td>
        <td align="center"> واحـــد</td>
        <td align="center" colspan="7">تشریحــــــــــــات</td>
        <td align="center"> فیات</td>
        <td align="center"> مبلغ</td>
        <td align="center"> ملاحظات</td>
    </tr>
    <tr>
        <td align="center">۷</td>
        <td align="center">۸</td>
        <td colspan="7" align="center">۹</td>
        <td align="center">۱۰</td>
        <td align="center">۱۱</td>
        <td align="center">۱۲</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        
        
    </tr>
    <tr>
        <td colspan="9" align="center"> ۱۳ مجموع قیمت</td>
        
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td align="center">افغانی </td>
    </tr>
    
    <tr>
        <td colspan="12">
            <center><p>تثدیق مشخص تسلیم شویده </p></center>
            <p> تصدیق میدارم که اجناس یا خدمات فوق الذکر راتسلیم شدم اجناس مذکور رابه غور وزن حساب یا اندازه  فورم خدمات مذکور قناعت بحش واجناس آن به استثنای اقلامیکه درستون ملاحظات ذکر شده مکمل وسالم بوده </p>

        </td>
    </tr>
    <tr>
        <td colspan="9"> محل امضاء ۱۴ </td>
        <td colspan="3"> هویت     ۱۵</td>
        
    </tr>
    <tr>
        <td> تسلیمی بل صورت کل </td>
        <td align="center">۱</td>
        <td align="center">۲</td>
        <td align="center">۳</td>
        <td align="center">۴</td>
        <td align="center">۵</td>
        <td align="center">۶</td>
        <td align="center">۷</td>
        <td align="center">۸</td>
        <td align="center">۹</td>
        <td align="center">۱۰</td>
        <td>درسند فرمایش ثبت گردید </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td> امضاء</td>
    </tr>

</table>

