.px200 {
    width: 200px !important;
    max-width: 200px !important;
    word-wrap: break-word !important;
    white-space: normal !important;
}

#ScanPreviewDiv p {
    color: white;
    text-align: center;
    line-height: 190px;
    font-size: medium;
}
.radio input[type=radio], .radio-inline input[type=radio] {
    margin-right: -10px;
}
.radio {
    padding-top: 4px !important;
}
.selectedItem {
    background-color: #67809f !important;
    color:white !important;
}
.ui_tpicker_second_label, .ui_tpicker_second, .ui_tpicker_millisec_label,
.ui_tpicker_millisec, .ui_tpicker_microsec_label, .ui_tpicker_microsec, .ui_tpicker_timezone_label,
.ui_tpicker_timezone {
    display: none !important;
}