USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 7/6/2020 9:48:56 AM ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
/****** Object:  User [KBL-IMU-KAMALPO\WDAGUtilityAccount]    Script Date: 7/6/2020 9:48:56 AM ******/
CREATE USER [KBL-IMU-KAMALPO\WDAGUtilityAccount] FOR LOGIN [KBL-IMU-KAMALPO\WDAGUtilityAccount] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [inventory]    Script Date: 7/6/2020 9:48:56 AM ******/
CREATE USER [inventory] FOR LOGIN [Inventory] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [inventory]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [inventory]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [inventory]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [inventory]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [inventory]
GO
ALTER ROLE [db_datareader] ADD MEMBER [inventory]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [inventory]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[ModifiedTable] [nvarchar](300) NULL,
	[ModfiedId] [bigint] NOT NULL,
	[Action] [nvarchar](300) NULL,
	[UserId] [int] NOT NULL,
	[ModifiedTime] [datetime] NOT NULL,
	[ModifiedData] [ntext] NULL,
 CONSTRAINT [PK_dbo.ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](300) NULL,
	[ClaimValue] [nvarchar](300) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[InsertedBy] [int] NULL,
	[InsertedDate] [datetime] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](300) NULL,
	[SecurityStamp] [nvarchar](300) NULL,
	[PhoneNumber] [nvarchar](300) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PassNeedsChange] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[EnName] [nvarchar](500) NOT NULL,
	[DrName] [nvarchar](500) NOT NULL,
	[PaName] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NULL,
	[InsertedBy] [int] NOT NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisposableDistributionItems]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisposableDistributionItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DisposableDistributionID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[StockInItemID] [int] NULL,
 CONSTRAINT [PK_DisposableDistributionItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisposableDistributions]    Script Date: 7/6/2020 9:48:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisposableDistributions](
	[DisposableDistributionID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentIssueNumber] [int] NULL,
	[DocumentIssuedDate] [datetime] NULL,
	[OrderNumber] [int] NULL,
	[OrderDate] [datetime] NULL,
	[DepartmentID] [int] NULL,
	[Details] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[InsertedBy] [int] NOT NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_DisposableDistributions] PRIMARY KEY CLUSTERED 
(
	[DisposableDistributionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NULL,
	[FatherName] [nvarchar](300) NULL,
	[DepartmentID] [int] NULL,
	[Occupation] [nvarchar](300) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[InsertedBy] [int] NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupTypes]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupTypes](
	[LookupId] [int] IDENTITY(1,1) NOT NULL,
	[LookupCode] [nvarchar](100) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LookupTypes] PRIMARY KEY CLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupValues]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupValues](
	[ValueId] [int] IDENTITY(1,1) NOT NULL,
	[LookupCode] [nvarchar](100) NULL,
	[ValueCode] [nvarchar](100) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[ForOrdering] [nvarchar](1) NULL,
	[IsActive] [bit] NOT NULL,
	[GroupValueId] [int] NULL,
 CONSTRAINT [PK_dbo.LookupValues] PRIMARY KEY CLUSTERED 
(
	[ValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] NOT NULL,
	[EnName] [nvarchar](100) NULL,
	[DrName] [nvarchar](100) NULL,
	[PaName] [nvarchar](100) NULL,
	[Icon] [nvarchar](100) NULL,
	[MenuLevel] [int] NULL,
	[SuperMenuId] [int] NULL,
	[HasSubMenu] [bit] NULL,
	[Controller] [nvarchar](100) NULL,
	[Action] [nvarchar](100) NULL,
	[ActionType] [nvarchar](50) NULL,
	[MenuOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[Visible] [bit] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[UsageTypeID] [int] NULL,
	[GroupID] [int] NOT NULL,
	[CategoryID] [int] NULL,
	[UnitID] [int] NULL,
	[PackingID] [int] NULL,
	[SizeID] [int] NULL,
	[SerialCodeNumber] [nvarchar](100) NULL,
	[ProductName] [nvarchar](300) NOT NULL,
	[OriginID] [int] NULL,
	[BrandID] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[ProductCode] [int] NULL,
	[ImagePath] [varchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[InsertedBy] [int] NOT NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestoreItems]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestoreItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RestoreID] [int] NULL,
	[StockInItemID] [int] NULL,
 CONSTRAINT [PK_ExpiredItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restores]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restores](
	[RestoreID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[DocumentIssuedNo] [int] NULL,
	[DocumentIssuedDate] [datetime] NULL,
	[ItemInCondition] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[InsertedBy] [int] NOT NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_Expires] PRIMARY KEY CLUSTERED 
(
	[RestoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReusableDistributionItems]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReusableDistributionItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReusableDistributionID] [int] NOT NULL,
	[StockInItemID] [int] NULL,
	[DealWithAccount] [nvarchar](500) NULL,
	[IsReturned] [bit] NOT NULL,
	[ReturnDate] [date] NULL,
 CONSTRAINT [PK_TicketItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReusableDistributions]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReusableDistributions](
	[ReusableDistributionID] [int] IDENTITY(1,1) NOT NULL,
	[TicketNumber] [int] NULL,
	[TicketIssuedDate] [datetime] NULL,
	[Warehouse] [nvarchar](500) NULL,
	[RequestNumber] [int] NULL,
	[RequestDate] [datetime] NULL,
	[EmployeeID] [int] NULL,
	[Details] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[InsertedBy] [int] NOT NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_DistributionTicket] PRIMARY KEY CLUSTERED 
(
	[ReusableDistributionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccess]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccess](
	[RoleAccessId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[MenuId] [int] NULL,
	[FullControl] [bit] NULL,
	[Add] [bit] NULL,
	[Edit] [bit] NULL,
	[Search] [bit] NULL,
	[View] [bit] NULL,
	[Delete] [bit] NULL,
	[Print] [bit] NULL,
	[Download] [bit] NULL,
 CONSTRAINT [PK_RoleAccess] PRIMARY KEY CLUSTERED 
(
	[RoleAccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SigninLogs]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SigninLogs](
	[SigninId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](300) NULL,
	[UserIP] [nvarchar](300) NULL,
	[SigninTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.SigninLogs] PRIMARY KEY CLUSTERED 
(
	[SigninId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockInItems]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInItems](
	[StockInItemID] [int] IDENTITY(1,1) NOT NULL,
	[StockInID] [int] NOT NULL,
	[BarCode] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[IsSecondHand] [bit] NULL,
	[SecondHandPrice] [int] NULL,
	[UsageTypeID] [int] NULL,
	[GroupID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ItemName] [nvarchar](300) NULL,
	[ItemCode] [nvarchar](300) NULL,
	[UnitID] [int] NULL,
	[SizeID] [int] NULL,
	[OriginID] [int] NULL,
	[BrandID] [int] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsExpired] [bit] NULL,
	[DateExpired] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[InsertedBy] [int] NOT NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_NondurableStockInItems] PRIMARY KEY CLUSTERED 
(
	[StockInItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockIns]    Script Date: 7/6/2020 9:48:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIns](
	[StockInID] [int] IDENTITY(1,1) NOT NULL,
	[M7Number] [nvarchar](100) NULL,
	[StockInDate] [date] NULL,
	[DeliveryPlace] [nvarchar](500) NULL,
	[ContractorName] [nvarchar](300) NULL,
	[OrderNumber] [nvarchar](100) NULL,
	[OrderDate] [date] NULL,
	[Details] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[InsertedBy] [int] NOT NULL,
	[InsertedDate] [date] NULL,
	[LastUpdatedBy] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_NondurableStockIns] PRIMARY KEY CLUSTERED 
(
	[StockInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([LogId], [ModifiedTable], [ModfiedId], [Action], [UserId], [ModifiedTime], [ModifiedData]) VALUES (1, N'Roles', 2, N'Insert', 5, CAST(N'2019-08-18T14:01:44.717' AS DateTime), N'{"RoleId":0,"RoleName":"test","Menus":[{"RoleAccessId":3,"RoleId":2,"MenuId":1,"FullControl":true,"Add":false,"Edit":false,"Search":false,"View":false,"Delete":false,"Print":false,"Download":false},{"RoleAccessId":4,"RoleId":2,"MenuId":2,"FullControl":false,"Add":false,"Edit":false,"Search":false,"View":false,"Delete":false,"Print":false,"Download":false}]}')
INSERT [dbo].[ActivityLogs] ([LogId], [ModifiedTable], [ModfiedId], [Action], [UserId], [ModifiedTime], [ModifiedData]) VALUES (2, N'Users', 11, N'Insert', 5, CAST(N'2019-08-18T19:18:57.957' AS DateTime), N'{"Id":0,"DisplayName":"sharif","UserName":"sharif","Password":"Sharif@12345","Role":"test"}')
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (1, N'Administrator')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (2, N'test')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (5, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (11, 2)
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

INSERT [dbo].[AspNetUsers] ([Id], [DisplayName], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate], [LastLogin], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [PassNeedsChange]) VALUES (10, N'khan', 1, NULL, NULL, NULL, NULL, NULL, NULL, 0, N'ANS3JIxVHvzi4/hTWA7RgEA7YyOGVD+iXHRjs5yiMYmJVobuBx0sADr1y+p3iMenvQ==', NULL, NULL, 0, 0, NULL, 0, 0, N'khan', 0)
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [EnName], [DrName], [PaName], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, N'Information Technology (IT)', N'ریاست تکنالوژی معلوماتی', N'معلوماتی تکنالوژې ریاست', 1, 5, NULL, NULL, NULL)
INSERT [dbo].[Departments] ([DepartmentID], [EnName], [DrName], [PaName], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (2, N'Returne', N'عودت', N'عودت', 1, 0, NULL, NULL, NULL)
INSERT [dbo].[Departments] ([DepartmentID], [EnName], [DrName], [PaName], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (3, N'test', N'تست', N'تسټ', 1, 5, CAST(N'2020-07-01' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Name], [FatherName], [DepartmentID], [Occupation], [PhoneNumber], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, N'Ahmad', N'جمال', 1, N'خانه سامان', N'0794671076', 1, 5, CAST(N'2020-01-03' AS Date), 5, CAST(N'2020-01-03' AS Date))
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[LookupTypes] ON 

INSERT [dbo].[LookupTypes] ([LookupId], [LookupCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, N'UNIT', N'UNIT', N'یونیت', N'یونیت', 1)
INSERT [dbo].[LookupTypes] ([LookupId], [LookupCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (2, N'UTYPE', N'Usage Type', N'نوع استعمال', N'استعمال ډول', 1)
INSERT [dbo].[LookupTypes] ([LookupId], [LookupCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (3, N'ITEMGROUP', N'Item Group', N'گروپ جنس', N'د توکي ګروپ', 1)
SET IDENTITY_INSERT [dbo].[LookupTypes] OFF
SET IDENTITY_INSERT [dbo].[LookupValues] ON 

INSERT [dbo].[LookupValues] ([ValueId], [LookupCode], [ValueCode], [EnName], [DrName], [PaName], [ForOrdering], [IsActive], [GroupValueId]) VALUES (3, N'UNIT', N'Kilogram', N'Kilogram', N'کیلوګرام', N'کیلوګرام', N'a', 1, NULL)
INSERT [dbo].[LookupValues] ([ValueId], [LookupCode], [ValueCode], [EnName], [DrName], [PaName], [ForOrdering], [IsActive], [GroupValueId]) VALUES (23, N'UNIT', N'Gram', N'gram', N'ګرام ', N'گرام ', N'b', 1, NULL)
INSERT [dbo].[LookupValues] ([ValueId], [LookupCode], [ValueCode], [EnName], [DrName], [PaName], [ForOrdering], [IsActive], [GroupValueId]) VALUES (24, N'UNIT', N'Paya', N'پایه ', N'پایه ', N'پایه ', N'c', 1, NULL)
SET IDENTITY_INSERT [dbo].[LookupValues] OFF
INSERT [dbo].[Menus] ([MenuId], [EnName], [DrName], [PaName], [Icon], [MenuLevel], [SuperMenuId], [HasSubMenu], [Controller], [Action], [ActionType], [MenuOrder], [IsActive], [Visible]) VALUES (1, N'Dashboard', N'صفحه اصلی', N'اصلی صفحه ', N'icon-home', 1, 0, 0, N'Home', N'Dashboard', N'View', 10, 1, 1)
INSERT [dbo].[Menus] ([MenuId], [EnName], [DrName], [PaName], [Icon], [MenuLevel], [SuperMenuId], [HasSubMenu], [Controller], [Action], [ActionType], [MenuOrder], [IsActive], [Visible]) VALUES (2, N'User Management', N'مدیریت کاربران', N'د کاروونکی ادراه کول', N'icon-users', 1, 0, 0, N'Users', N'Index', N'View', 150, 1, 1)
INSERT [dbo].[Menus] ([MenuId], [EnName], [DrName], [PaName], [Icon], [MenuLevel], [SuperMenuId], [HasSubMenu], [Controller], [Action], [ActionType], [MenuOrder], [IsActive], [Visible]) VALUES (3, N'Resuable Item Distribution', N'توزیع اجسام دوامدار', N' دوامداره اجسامو  ویش', N'icon-note', 1, 0, 1, N'ReusableDistribution', NULL, N'View', 20, 1, 1)
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [UsageTypeID], [GroupID], [CategoryID], [UnitID], [PackingID], [SizeID], [SerialCodeNumber], [ProductName], [OriginID], [BrandID], [Description], [ProductCode], [ImagePath], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, 1003, 1004, 1005, 24, 1011, 1007, N'12P', N'corei 7', 1020, 1026, N'With all equpment', 1, N'/Uploads/ProductsImages/1.jpg', 1, 5, CAST(N'2020-01-26' AS Date), 5, CAST(N'2020-01-31' AS Date))
INSERT [dbo].[Products] ([ProductID], [UsageTypeID], [GroupID], [CategoryID], [UnitID], [PackingID], [SizeID], [SerialCodeNumber], [ProductName], [OriginID], [BrandID], [Description], [ProductCode], [ImagePath], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (2, 1003, 1004, 1005, 24, 1011, NULL, NULL, N'Scanner hp', 1028, 1026, N'kjhkh', 2, N'/Uploads/ProductsImages/2.jpg', 1, 5, CAST(N'2020-02-04' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ReusableDistributionItems] ON 

INSERT [dbo].[ReusableDistributionItems] ([ID], [ReusableDistributionID], [StockInItemID], [DealWithAccount], [IsReturned], [ReturnDate]) VALUES (3, 1, 7, N'12', 0, NULL)
SET IDENTITY_INSERT [dbo].[ReusableDistributionItems] OFF
SET IDENTITY_INSERT [dbo].[ReusableDistributions] ON 

INSERT [dbo].[ReusableDistributions] ([ReusableDistributionID], [TicketNumber], [TicketIssuedDate], [Warehouse], [RequestNumber], [RequestDate], [EmployeeID], [Details], [FilePath], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, 1, CAST(N'2020-07-05T00:00:00.000' AS DateTime), N'ware house 1', 12, CAST(N'2020-07-05T00:00:00.000' AS DateTime), 1, N'Some details', N'/Uploads/ReusableDistribution/1.jpg', 1, 5, CAST(N'2020-07-05' AS Date), 5, CAST(N'2020-07-05' AS Date))
SET IDENTITY_INSERT [dbo].[ReusableDistributions] OFF
SET IDENTITY_INSERT [dbo].[RoleAccess] ON 

INSERT [dbo].[RoleAccess] ([RoleAccessId], [RoleId], [MenuId], [FullControl], [Add], [Edit], [Search], [View], [Delete], [Print], [Download]) VALUES (3, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[RoleAccess] ([RoleAccessId], [RoleId], [MenuId], [FullControl], [Add], [Edit], [Search], [View], [Delete], [Print], [Download]) VALUES (4, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[RoleAccess] ([RoleAccessId], [RoleId], [MenuId], [FullControl], [Add], [Edit], [Search], [View], [Delete], [Print], [Download]) VALUES (2008, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[RoleAccess] OFF
SET IDENTITY_INSERT [dbo].[SigninLogs] ON 

INSERT [dbo].[SigninLogs] ([SigninId], [UserId], [Username], [UserIP], [SigninTime]) VALUES (1, 5, N'admin', N'::1', CAST(N'2019-08-17T13:30:32.363' AS DateTime))
INSERT [dbo].[SigninLogs] ([SigninId], [UserId], [Username], [UserIP], [SigninTime]) VALUES (2, 5, N'admin', N'::1', CAST(N'2019-08-18T11:34:51.103' AS DateTime))
INSERT [dbo].[SigninLogs] ([SigninId], [UserId], [Username], [UserIP], [SigninTime]) VALUES (3, 5, N'admin', N'::1', CAST(N'2019-08-18T12:00:18.920' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SigninLogs] OFF
SET IDENTITY_INSERT [dbo].[StockInItems] ON 

INSERT [dbo].[StockInItems] ([StockInItemID], [StockInID], [BarCode], [Quantity], [AvailableQuantity], [UnitPrice], [IsSecondHand], [SecondHandPrice], [UsageTypeID], [GroupID], [CategoryID], [ItemName], [ItemCode], [UnitID], [SizeID], [OriginID], [BrandID], [Remarks], [IsExpired], [DateExpired], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, 1, N'001', 1, 1, 33, 0, NULL, 1003, 1004, 1005, N'Computer', N'33', 24, 1007, 1018, 1026, N'113', 0, NULL, 1, 5, CAST(N'2020-02-29' AS Date), 5, CAST(N'2020-03-05' AS Date))
INSERT [dbo].[StockInItems] ([StockInItemID], [StockInID], [BarCode], [Quantity], [AvailableQuantity], [UnitPrice], [IsSecondHand], [SecondHandPrice], [UsageTypeID], [GroupID], [CategoryID], [ItemName], [ItemCode], [UnitID], [SizeID], [OriginID], [BrandID], [Remarks], [IsExpired], [DateExpired], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (2, 2, N'002', 1, 1, 120, 0, NULL, 1003, 1004, 1005, N'camera', N'123', 27, NULL, 1018, 1026, N'For office use', 0, NULL, 1, 5, CAST(N'2020-03-27' AS Date), NULL, NULL)
INSERT [dbo].[StockInItems] ([StockInItemID], [StockInID], [BarCode], [Quantity], [AvailableQuantity], [UnitPrice], [IsSecondHand], [SecondHandPrice], [UsageTypeID], [GroupID], [CategoryID], [ItemName], [ItemCode], [UnitID], [SizeID], [OriginID], [BrandID], [Remarks], [IsExpired], [DateExpired], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (5, 5, N'003', 30, 28, 210, 0, NULL, 1002, 2030, 2032, N'A4', NULL, 31, NULL, NULL, NULL, N'some details', 0, NULL, 1, 5, CAST(N'2020-06-21' AS Date), 5, CAST(N'2020-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[StockInItems] OFF
SET IDENTITY_INSERT [dbo].[StockIns] ON 

INSERT [dbo].[StockIns] ([StockInID], [M7Number], [StockInDate], [DeliveryPlace], [ContractorName], [OrderNumber], [OrderDate], [Details], [FilePath], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (1, N'1', CAST(N'2020-02-29' AS Date), N'1', N'1', N'1', CAST(N'2020-02-29' AS Date), N'1', N'/Uploads/StockInScan/2.jpg', 1, 5, CAST(N'2020-02-29' AS Date), 5, CAST(N'2020-03-05' AS Date))
INSERT [dbo].[StockIns] ([StockInID], [M7Number], [StockInDate], [DeliveryPlace], [ContractorName], [OrderNumber], [OrderDate], [Details], [FilePath], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (2, N'3', CAST(N'2020-03-27' AS Date), N'Godam', N'Khan ahmad', N'8', CAST(N'2020-03-27' AS Date), N'Some comments', N'/Uploads/StockInScan/2.jpg', 1, 5, CAST(N'2020-03-27' AS Date), NULL, NULL)
INSERT [dbo].[StockIns] ([StockInID], [M7Number], [StockInDate], [DeliveryPlace], [ContractorName], [OrderNumber], [OrderDate], [Details], [FilePath], [IsActive], [InsertedBy], [InsertedDate], [LastUpdatedBy], [LastUpdatedDate]) VALUES (5, N'21', CAST(N'2020-06-21' AS Date), N'warehouse 1', N'Nabi', N'12', CAST(N'2020-06-21' AS Date), N'some details about A4', N'/Uploads/StockInScan/5.jpg', 1, 5, CAST(N'2020-06-21' AS Date), 5, CAST(N'2020-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[StockIns] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LookupTypes]    Script Date: 7/6/2020 9:48:58 AM ******/
ALTER TABLE [dbo].[LookupTypes] ADD  CONSTRAINT [IX_LookupTypes] UNIQUE NONCLUSTERED 
(
	[LookupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LookupValues]    Script Date: 7/6/2020 9:48:58 AM ******/
ALTER TABLE [dbo].[LookupValues] ADD  CONSTRAINT [IX_LookupValues] UNIQUE NONCLUSTERED 
(
	[ValueCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReusableDistributionItems] ADD  CONSTRAINT [DF_DistributionItems_IsReturned]  DEFAULT ((0)) FOR [IsReturned]
GO
ALTER TABLE [dbo].[StockInItems] ADD  CONSTRAINT [DF_StockInItems_IsSecondHand]  DEFAULT ((0)) FOR [IsSecondHand]
GO
ALTER TABLE [dbo].[StockInItems] ADD  CONSTRAINT [DF_StockInItems_IsExpired]  DEFAULT ((0)) FOR [IsExpired]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[LookupValue_List]    Script Date: 7/6/2020 9:48:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LookupValue_List]
@LookupCode nvarchar(100) = null,
@ValueName nvarchar(100) = null,
@Lang nvarchar(100) = 'en'

as 

select * from LookupValues where LookupCode = @LookupCode
and (@Lang != 'en' or EnName like '%' + @ValueName + '%')
and (@Lang != 'prs' or DrName like '%' + @ValueName + '%')
and (@Lang != 'ps' or PaName like '%' + @ValueName + '%')
order by (case when @Lang = 'prs' then DrName when @Lang = 'ps' then PaName else EnName end)
GO
/****** Object:  StoredProcedure [dbo].[Menu_List]    Script Date: 7/6/2020 9:48:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Menu_List]
@Lang nvarchar(10) = 'en'
as 

SELECT [MenuId]
		, case @Lang when 'prs' then DrName when 'ps' then PaName else EnName end as [Name]
		,case MenuLevel when 1 then MenuId else SuperMenuId end as ModuleId
      ,[Icon]
      ,[MenuLevel]
      ,[SuperMenuId]
      ,[HasSubMenu]
      ,[Controller]
      ,[Action]
      ,ActionType,
      IsActive

  FROM [Menus]
  
  where IsActive = 1 and Visible = 1
  order by MenuOrder
GO
/****** Object:  StoredProcedure [dbo].[ModuleRoleAccess]    Script Date: 7/6/2020 9:48:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ModuleRoleAccess] @RoleId int as

with m as(
select MenuId from Menus where IsActive = 1 and MenuLevel = 1),
r as (select * from RoleAccess where RoleId = @RoleId)
select m.MenuId , ISNULL(r.RoleId , 0) RoleId
, ISNULL(r.[FullControl], 0) [FullControl]
, ISNULL(r.[Add], 0) [Add]
, ISNULL(r.[Edit], 0) [Edit]
, ISNULL(r.[Search], 0) [Search]
, ISNULL(r.[View], 0) [View]
, ISNULL(r.[Delete], 0) [Delete]
, ISNULL(r.[Print], 0) [Print]
, ISNULL(r.[Download], 0) [Download]
from m left join r on m.MenuId = r.MenuId
order by m.MenuId
GO
/****** Object:  StoredProcedure [dbo].[Modules_List]    Script Date: 7/6/2020 9:48:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Modules_List]

@Lang nvarchar(10) = 'en'

as

select MenuId ,
case @Lang when 'prs' then m.DrName when 'ps' then m.PaName else m.EnName end MenuName

from Menus m 
where IsActive = 1 and MenuLevel = 1
order by MenuId
GO
/****** Object:  StoredProcedure [dbo].[Ticket_Items]    Script Date: 7/6/2020 9:48:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Ticket_Items]

@id int,
@Lang nvarchar(10) = 'en'

as

select i.ID,i.UnitID ,i.TicketID , i.Quantity , i.ItemDetails ,i.UnitPrice, i.DealWithAccount,
TotalPrice = i.Quantity * i.UnitPrice,
case @Lang when 'prs' then l.DrName when 'ps' then l.PaName else l.EnName end UnitName

from TicketItems i
join LookupValues l on l.ValueId = i.UnitID

where i.IsActive = 1 and i.TicketID = @id
order by i.ID
GO
/****** Object:  StoredProcedure [dbo].[User_List]    Script Date: 7/6/2020 9:48:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[User_List]

@Lang nvarchar(100) = 'en'

as begin

select u.Id , u.IsActive , u.DisplayName , u.Username , r.Name UserRole


from AspNetUsers u 
left join AspNetUserRoles ur on u.Id = ur.UserId
left join AspNetRoles r on ur.RoleId = r.Id

where u.Username != 'admin'


order by u.Id desc

end
GO
USE [master]
GO
