@model Inventory.Models.ViewModels.DistTicketPC5ViewModels
@{
    ViewBag.Title = "ViewPC5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>تکت توزیع تحویلخانه </h2>
<table border="1" height="150" width="500">
    <caption> فورمه ف س (۵) </caption>
    <tr>
        <td colspan="3">۱- نمبر تکت</td>
        <td colspan="3">۴- نمبر درخواست</td>
    </tr>
    <tr>
        <td colspan="3">۲-تاریخ</td>
        <td colspan="3">۵-تاریخ</td>
    </tr>
    <tr>
        <td  colspan="3">۳- تحویلخانه توزیع کننده </td>
        <td colspan="3">۶- شعبه درخواست کننده </td>
    </tr>
    <tr>
        <td align="center">مقدار </td>
        <td align="center">تبص ذخیره </td>
        <td align="center"> تفصیــــــــــلات جنس </td>
        <td align="center"> قیمت واحد </td>
        <td align="center">قیمت مجموعی </td>
        <td align="center">معامله شده به حساب </td>
    </tr>
    <tr>
        <td>۷</td>
        <td>۸</td>
        <td>۹</td>
        <td>۱۰</td>
        <td>۱۱</td>
        <td>۱۲</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" align="center"> ۱۳- مجموع کل  </td>
        <td></td>
        <td> </td>
    </tr>
</table>
<p>۱۴- امضاء آمر تحویلخانه ــــــــــ</p>
<p>۱۵- امضاء گیرنده ـــــ</p>
<p>۱۶- اندارج:تمام اجناس درکارت های ثبت ذخیره درج گریده است جنس ــــــ</p>
<p>امضاءـــــــــــــــ تاریخ ـــــــــــــــــــــ</p>
<p>کاتب اندراج</p>
<p>توریع فورمه دریک اصل و دو کاپی ترتیب شود</p>
<p>الف اصل به درخواست کننده داده شود </p>
<p>امضاء ترتیب گننده</p>
