<table style="direction:rtl; border:1px solid black; border-collapse:collapse;">
    <tr style="border:1px solid black;">
        <th style="width:20%;" colspan="2">
            <h1>تکت موتر سیار</h1>
        </th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>اداره درخواست کننده</th>
        <th>@Model.DepartmentName</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>شخص توظیف شده</th>
        <th>@Model.PersAssignedName</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>وظیفه شخص توظیف شده</th>
        <th>@Model.PersAssignedOccupation</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>تاریخ اغاز وظیفه</th>
        <th>@Model.VisitingDate</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>محل سفر</th>
        <th>@Model.VisitingPlace</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>ساعت سفر</th>
        <th>@Model.VisitingTime</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>هدف سفر</th>
        <th>@Model.VisitingPurpose</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>ایمل ادرس</th>
        <th>@Model.EmailAddress</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>نمبر پلیت</th>
        <th>@Model.NumberPlate</th>
    </tr> 
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>نام دریور</th>
        <th>@Model.DriverName</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>نوع موتر</th>
        <th>@Model.CarType</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>شماره تماس دریور</th>
        <th>@Model.DriverPhoneNo</th>
    </tr>
    <tr style="border:1px solid black; text-align:right; padding:5px;">
        <th>اغاز کیلو متر</th>
        <th>@Model.Startkm</th>
    </tr>
</table>